
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="author" content="Sumit Saha" />
  <meta name="owner" content="learnwithsumit.com" />
  <title>
    <%= title %>
  </title>
  <link rel="shortcut icon" href="/images/favicon.png" />
  <link rel="stylesheet" href="/stylesheets/toastify.css" />
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link rel="stylesheet" href="/stylesheets/acro.css" />
  <link rel="stylesheet" href="/stylesheets/dropdownmenu.css" />

  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
    integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
  <script src="./js/toastify.js"></script>
  <script>
    const deleteToast = Toastify({
      text: "You are being logout....",
      duration: 1000,
    })
    function logout() {
      fetch("/", {
        method: "DELETE"

      })
      deleteToast.showToast();

      setTimeout(() => {
        window.location.replace("/");
      }, 1000)
    }
  </script>
</head>

<body>
  <div class="menu">
    <% if(loggedInUser && loggedInUser.username) { %>
      <div class="navbar">
        <div>
          <a href="/"><i class="fas fa-home"></i>Home</a>
        </div>
        <div class="dropdown">
          <a class="dropbtn">All Department
            <i class="fa fa-caret-down"></i>
          </a>
          <div class="dropdown-content">
            <a href="/acro">New User</a>
            <a href="/acro/data">All Data</a>
            <a href="/acro/print/1">Print</a>
          </div>
        </div>
        <div class="dropdown">
          <a class="dropbtn">BCB & Office
            <i class="fa fa-caret-down"></i>
          </a>
          <div class="dropdown-content">
            <a href="/bcb">New User</a>
            <a href="/bcb/data">All Data</a>
            <a href="/bcb/print/1">Print</a>
          </div>
        </div>
        <div class="dropdown">
          <a class="dropbtn">Marketing & Commercial
            <i class="fa fa-caret-down"></i>
          </a>
          <div class="dropdown-content">
            <a href="/marketing">New User</a>
            <a href="/marketing/data">All Data</a>
            <a href="/marketing/print/1">Print</a>
          </div>
        </div>
        <div class="dropdown">
          <a class="dropbtn">Law & Force
            <i class="fa fa-caret-down"></i>
          </a>
          <div class="dropdown-content">
            <a href="/law">New User</a>
            <a href="/law/data">All Data</a>
            <a href="/law/print/1">Print</a>
          </div>
        </div>
        <div class="dropdown">
          <a class="dropbtn">PMOA
            <i class="fa fa-caret-down"></i>
          </a>
          <div class="dropdown-content">
            <a href="/pmoa">New User</a>
            <a href="/pmoa/data">All Data</a>
            <a href="/pmoa/print/1">Print</a>
          </div>
        </div>
        <div class="dropdown">
          <a class="dropbtn">Media
            <i class="fa fa-caret-down"></i>
          </a>
          <div class="dropdown-content">
            <a href="/media">New User</a>
            <a href="/media/data">All Data</a>
            <a href="/media/print/1">Media Print</a>
          </div>
        </div>
        <div class="menu-item">
          <a href="#" onclick="logout()">Logout</a>
        </div>
      </div>
      <% } else { %>
        <div class="menu-item"><a href="/users">Users</a></div>
        <div class="menu-item"><a href="/">Login</a></div>
        <% } %>
  </div>
    <div class="main-block">
        <h1>Add New User</h1>
        <form action="/media" 
            method="post" 
            enctype="multipart/form-data"
            id="acro-user">
              <hr>
            <div class="colums">
                <div class="form-left">
                  <label id="icon" for="name"><i class="fas fa-pen"></i></label>
                  <input type="text" name="manualnumber" id="manualnumber" placeholder="MANUAl SL" required/>
                </div>
                <div class="form-right">
                  <label id="icon" for="name"><i class="fas fa-file-signature"></i></label>
                  <input type="text" name="fullname" id="fullname" placeholder="FULL NAME" required/>
                </div>
                <div class="form-left">
                  <label id="icon" for="name"><i class="fas fa-user-edit"></i></label>
                  <input type="text" name="designation" id="designation" placeholder="DESIGNATION" />
                </div>
                <div class="form-right">
                  <label id="icon" for="name"><i class="fas fa-columns"></i></label>
                  <input type="text" name="organization" id="organizationname" placeholder="ORGANIZATION" />
                </div>
                <div class="form-left">
                  <label id="icon" for="name"><i class="fas fa-passport"></i></i></label>
                  <input type="text" name="nidno" id="nidpassport" placeholder="NID/PASSPORT/BIRTH ID" required/>
                </div>
                <div class="form-right">
                  <label id="icon" for="name"><i class="fas fa-file-signature"></i></label>
                  <input type="text" name="phone" id="phone" placeholder="PHONE NO" />
                </div>
                <div class="form-left">
                  <label id="icon" for="name">CARD TYPE: </label> 
                  <select id="cars" name="cardname">
                  <option value="SELECT AN ITEM">SELECT AN ITEM</option>
                  <option value="TYPE A">TYPE A</option>
                  <option value="TYPE B">TYPE B</option>
                  <option value="TYPE C">TYPE C</option>
                  <option value="TYPE G">TYPE G</option>
                  <option value="OFFICIAL BCB">OFFICIAL BCB</option>
                  <option value="STAFF BCB">STAFF BCB</option>
                  <option value="ACU">ACU</option>
                  <option value="ORGANIZINE COMMITTEE">ORGANIZINE COMMITTEE</option>
                  <option value="SUB-COMMITTEE">SUB-COMMITTEE</option>
                  <option value="T & S">T & S</option>
                  <option value="LOGISTICS & PROTOCOL">LOGISTICS & PROTOCOL</option>
                  <option value="VENDOR">VENDOR</option>
                  <option value="SERVICE PROVIDER">SERVICE PROVIDER</option>
                  <option value="ON DUTY">ON DUTY</option>
                  <option value="SPONSOR">SPONSOR</option>
                  <option value="MEDIA CENTER">MEDIA CENTER</option>
                  <option value="SPECIAL ENCLOSURE">SPECIAL ENCLOSURE</option>
                  <option value="MEDIA">MEDIA</option>
                  <option value="ANTI-DOPING">ANTI-DOPING</option>
                  <option value="CLEANER">CLEANER</option>
                  </select>
                </div> 
                <div class="form-right">
                  <label id="icon" for="name">VENUE: <i class="fas fa-envelope"></i></label> 
                    <select id="cars" name="vanue">
                    <option value="SELECT AN ITEM">SELECT AN ITEM</option>
                    <option value="DHAKA">DHAKA</option>
                    <option value="CHATTOGRAM">CHATTOGRAM</option>
                    <option value="SYLHET">SYLHET</option>
                    <option value="RAJSHAHI">RAJSHAHI</option>
                    <option value="BOGURA">BOGURA</option>
                    <option value="ALL VENUE">ALL VENUE</option>
                    <option value="SKICS">SKICS</option>
                    <option value="SBNCS">SBNCS</option>
                    <option value="ZACS">ZACS</option>
                    <option value="SICS">SICS</option>
                    </select>
                </div>
                <div class="form-left">
                  <label id="icon" for="name">ZONE ONE:  </label> 
                  <select id="cars" name="zoneone">
                  <option value="SELECT AN ITEM">SELECT AN ITEM</option>
                  <option selected="selected" value="1">1</option>
                  </select>
                </div>
                <div class="form-right">
                  <label id="icon" for="name">ZONE TWO: </label> 
                  <select id="cars" name="zonetwo">
                  <option value="SELECT AN ITEM">SELECT AN ITEM</option>
                  <option value="X">X</option>
                  <option value="2">2</option>
                  </select>
                </div>
                <div class="form-left">
                  <label id="icon" for="name">ZONE THREE: </label> 
                  <select id="cars" name="zonethree">
                  <option value="SELECT AN ITEM">SELECT AN ITEM</option>
                  <option value="X">X</option>
                  <option value="3">3</option>
                  </select>
                </div>
                <div class="form-right">
                  <label id="icon" for="name">ZONE FOUR:</label> 
                  <select id="cars" name="zonefour">
                  <option value="SELECT AN ITEM">SELECT AN ITEM</option>
                  <option value="X">X</option>
                  <option value="4">4</option>
                  </select>
                </div>
                <div class="form-left">
                  <label id="icon" for="name">ZONE FIVE: </label> 
                  <select id="cars" name="zonefive">
                  <option value="SELECT AN ITEM">SELECT AN ITEM</option>
                  <option value="X">X</option>
                  <option value="5">5</option>
                  </select>
                </div>
                <div class="form-right">
                  <label id="icon" for="name">ZONE SIX:</label> 
                  <select id="cars" name="zonesix">
                  <option value="SELECT AN ITEM">SELECT AN ITEM</option>
                  <option value="X">X</option>
                  <option value="6">6</option>
                  </select>
                </div>
                <div class="form-left">
                  <label id="icon" for="name">FORM NO:</label>
                  <input type="text" name="formno" id="name" placeholder="FORM NO" required/>
                </div>
                <div class="form-right">
                  <label id="icon" for="cardtype"> CARD TYPE:</label>
                  <input type="text" name="cardfooter" id="cardname" placeholder="CARD TYPE">
                </div>
             </div>  
             <div class="circleavatar">
              <input type="file" id="image" name="image">
            </div>
            <hr>
            <div class="btn-block">
              <p>By clicking Register</p>
              <button type="submit" value="Submit">Submit</button>
            </div>
      </form>
  </div>
  <script>
    const form = document.querySelector("#media-user");
    //success Toast
    const datasave = Toastify({
      text: "data save success",
      duration:1000,
    });

    //error Toast
    const errorData = Toastify({
      text: "data save error",
      duration: 1000,
    })

    form.onsubmit= async function (event){
      event.preventDefault();

      //prepare the form data 
      const formData = new FormData(form);

      //send the request ot sever 
      let response = await fetch("/media", {
        method: "POST", 
        body: formData
      });

      //get response 
      let result = await response.json();

      if(result.err){
        errorData.showToast();
      }else{
        datasave.showToast();
        
      }
      setTimeout(()=>{
                    location.replace("/media");
                }, 1000)

    }
  </script>
</body>
</html>