@media print{
    head title,
    .dropdown,
    .pagination,
    .menu,
    .navbar
    {
    display: none;
    }
    
    body{
    padding: 0;
    margin: 0;
    width: 100%;
    }
    .main{
    width:100%;
    margin: 0 auto;
    height: auto;
    }

    #table{
    /*width: 1082px;*/
    width:1070px;
    margin: 0 auto;
    /*height: 1570px;*/
    height:1560px;
    transform: rotateX(180deg);
    }

    div#display_image:nth-last-child(4){
        /*width:534px;*/
        width:528px;
        /*height: 780px;*/
        height:775px;
        background-position:center;
        background-size: cover;
        margin-right:3px;
        margin-bottom: 5px;
    }

    div#display_image:nth-last-child(3){
        width:528px;
        height:775px;
        background-position:center;
        background-size: cover;
        margin-left: 3px;
        margin-bottom: 5px;
    }
    div#display_image:nth-last-child(2){
       width:528px;
        height:775px;
        background-position:center;
        background-size: cover;
        margin-right:3px;
        margin-top:5px;
    }
    div#display_image:nth-last-child(1){
        width:528px;
        height:775px;
        background-position:center;
        background-size: cover;
        margin-top:5px;
        margin-left: 3px;
    }

}
  
