@media single-print{
    head title,
    .top-title,
    .item1
    {
        display: none;
    }

    body{
    padding: 0;
    margin: 0;
}
    .main{
    width: 535px;
    margin: 0 auto;
    height: 780px;
}

    table{
    width: 534px;
    height:780px;
    margin: 0 auto;
    /* transform: rotateX(180deg); */
    }
    #display_image_back{
        width:534px;
        height: 780px;
        background-position:center;
        background-size: cover;
        
    }


}